.home { 
    padding: 0px 10px;
    padding-bottom: 100px;
}

.home .hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1 {
    font-size: max(3svw, 36px);
}

.hero p {  
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
    font-size: max(1vw, 10px);
}

.hero form {
    padding: 8px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero form input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.hero form button {
    background-color: #012a4a;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.crypto-table {
    max-width: 900px;
    margin: auto;
    background: linear-gradient(90deg, rgb(36, 72, 99) 0%, rgb(2, 2, 2));
    border-radius: 15px;
}

.market-cap {
    text-align: right;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #468faf;
}

.table-layout:last-child {
    border-bottom: none;
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout div img {
    width: 35px;
}

.table-layout .green {
    color: rgb(15, 243, 15);
    text-align: center;
}

.table-layout .red {
    color: rgb(245, 18, 18);
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

@media (max-width: 650px) {
    .table-layout {
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap {
        display: none;
    }
}

@media (max-width: 550px) {
    .table-layout {
        font-size: 12px;
    }
    .table-layout div img {
        width: 25px;
    }
    .hero form input {
        width: 100px;
    }
}


